html {
    height: 100%;
    width: 100%;
    background-color: black;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 25%;
    height: 75%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: blue;
}

input[type="text"] {
    width: 500px;
    border: none;
    height: 40px;
    text-align: right;
    padding: 0;
    margin: 0;
}

.screen {
    height: 25%;
    border: 1px solid red;
    margin-bottom: 10px;
    ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding:5px; */
}

#inputView {
    width: 100%;
}

.screen>* {
    width: 100%
}

#resultsView>* {
    text-align: right;
}

.buttonsView>* {
    font-size: 30px;
}

.buttonsView {
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .center {
        height: 90%;
        width: 90%;
    }

    #resultsView {
        height: 100%;
        ;
    }

    .screen {
        height: 50%;
    }



    h3 {
        font-size: 7em;
    }



    input[type="text"] {
        width: 500px;
        border: none;
        height: 100px;
        text-align: right;
        padding: 0;
        margin: 0;
        font-size: 75px;
    }


    
    input {
        font-size: 75px;
    }
}